<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cписиок пользователей | Домашнее задание 2</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <style>
    [v-cloak], .hidden {
      display: none;
    }
  </style>
</head>
<body>
  <div id="app" v-cloak>

    <div v-if="!isHiddenUsersTable">
      <p>Таблица пользователей из {{ countUsers }} человек</p>
      <users-table v-bind:users="users" v-on:remove="removeUser"></users-table>
    </div>

    <button type="button" v-on:click="toggleUserTable" class="btn btn-secondary">
      {{ buttonTextUsersTable }}
    </button>

    <div id="table" class="hidden">
      <div> <!-- всегда должен существовать корневой элемент -->
        <div>{{ title }}</div>
        <br>
        <table class="users_table table table-bordered table-hover">
          <tr class="users_table__row" v-for="user in users" v-bind:key="user.name">
            <td class="users_table__col">
              <div class="users_table__col_wrap">
                <img v-bind:src="user.imgsrc || noAvatar" v-bind:alt="user.name" width="120">
              </div>
            </td>
            <td class="users_table__col">
              <div class="users_table__col_wrap">
                <p>
                  {{ user.name }}
                </p>
              </div>
            </td>
            <td class="users_table__col">
              <div class="users_table__col_wrap">
                <button v-on:click="removeUser(user)" class="btn btn-danger" type="button">Удалить</button>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>

  </div>
  <script src="https://ru.vuejs.org/js/vue.js"></script>
  <script>
    var UsersTable = {
      template: "#table",
      props: {
        title: {
          type: String,
          default: "Заголовок по умолчанию"
        },
        users: {
          type: Array,
          required: true
        }
      },
      data: function () {
        return {
          noAvatar: 'https://yt3.ggpht.com/a-/ACSszfHRLg26vw9Rk1Dv1QScDxXDfp3_TAmAlst7CQ=s800-mo-c-c0xffffffff-rj-k-no'
        }
      },
      methods: {
        removeUser: function (user) {
          this.$emit('remove', user.id)
        }
      }
    };

    window.app = new Vue({
      el: "#app",
      components: {
        'users-table': UsersTable
      },
      data: function () {
        return {
          isHiddenUsersTable: false,
          title: '',
          users: [],
        }
      },
      computed: {
        countUsers: function () {
          return this.users.length
        },
        buttonTextUsersTable: function () {
          return this.isHiddenUsersTable ? 'Показать таблицу' : 'Скрыть таблицу'
        }
      },
      watch: {
        users: function () {
          console.log('В users изменились данные!', this.users)
        }
      },
      mounted: function () {
        console.log("Экземпляр смонтирован (mounted)");
        this.loadUsers();
      },
      methods: {
        toggleUserTable: function () {
          this.isHiddenUsersTable = !this.isHiddenUsersTable
        },
        removeUser: function (id) {
          this.users = this.users.filter(function(item) {
              return item.id !== id;
          })
        },
        loadUsers: function() {
          this.users = [
            {
              id: 0,
              imgsrc: 'https://im0.kommersant.ru/Issues.photo/CORP/2017/09/15/KMO_152927_00258_1_t218_132144.jpg',
              name: 'Варламов Александр Юрьевич'
            },
            {
              id: 1,
              name: 'Лель Екатерина Васильевна'
            },
            {
              id: 2,
              imgsrc: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShgFmr86jJ_huNtjjiml5XkDMuNeBVbAqIjyBYSJ-9lg8gBT9FlQ',
              name: 'Грабар Оксана Дмитриевна'
            },
            {
              id: 3,
              imgsrc: 'https://kor.ill.in.ua/m/610x385/2108982.jpg',
              name: 'Шишкина Анна Александровна'
            },
            {
              id: 4,
              imgsrc: 'https://images6.cosmopolitan.ru/upload/img_cache/8b5/8b51b2903e7433514ab9209bd099c914_fitted_740x0.jpg',
              name: 'Цукерберг Марк Валерьевич'
            },
            {
              id: 5,
              name: 'Путин Владимир Владимирович'
            },
          ]
        }
      }
    })
  </script>
</body>
</html>
